* {
    padding: 0px;
    margin: 0px;
}



.header {
width: 100%;
    padding: 5px;
    display: flex;
    background-color: gainsboro;
    justify-content: space-between;
    align-items: center;

}

.logo-div{

    display: flex;
    position: relative;
    padding: 1px;
    
}

.logo{


    font-size: 22px;
    padding: 0px 5px;
}

.nav-div{
    padding: 1px;
    display: flex;
    border: 1px solid blue;
}

.nav{

    padding: 1px 1px 2px 1px;



}

.nav-li{

    padding: 5px;
    display: inline;

}

.section-2 {

}

.my-picture {
position: relative;
display: inline-block;
height: 300px;
width: 400px;
object-fit: contain;

}

.about-me-container {
width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-me {
position: relative;
display: inline-block;
width: 500px;


}

.about-me-heading {
    position: relative;
    top: 80px;
    left: 300px;
    font-size: 30px;
}

.about-me-p {

display: inline-block;

}

a, a:hover, a:visited, a:active {
    color: #000000;
    text-decoration: none;
   }

.projects-header {

    font-size: 30px;
    text-align: center;
    position: relative;
    top: 20px;
}

.skills-header {

    font-size: 30px;
    text-align: center;
    position: relative;
    top: 20px;
}

.contact-header {
    font-size: 30px;
    text-align: center;
    position: relative;
    top: 20px;
}