* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}



.header {
width: 100%;
    padding: 5px;
    display: flex;
    background-color: gainsboro;
    justify-content: space-between;
    align-items: center;

}

.logo-div{

    display: flex;
    position: relative;
    padding: 1px;
    
}

.logo{


    font-size: 22px;
    padding: 0px 5px;
}

.nav-div{
    padding: 1px;
    display: flex;
    border: 1px solid blue;
}

.nav{

    padding: 1px 1px 2px 1px;



}

.nav-li{

    padding: 5px;
    display: inline;

}

.section-2 {

}



.about-me-container {
width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 0rem 6rem 0rem;
   
}


.about-me-heading {
    font-size: 30px;
}



.picture-box {
width: 100%;
display: flex;
align-items: center;
justify-content: space-around;


}


.about-me {

    width: 40%;

    }

.my-picture {
    height: 40%;
    width: 20%;
    object-fit: contain;
    
    }



.about-me-p {


}

a, a:hover, a:visited, a:active {
    color: #000000;
    text-decoration: none;
   }

.projects-header {

    font-size: 30px;
    text-align: center;
    position: relative;
    top: 20px;
}

.skills-header {

    font-size: 30px;
    text-align: center;
    position: relative;
    top: 20px;
}

.contact-header {
    font-size: 30px;
    text-align: center;
    position: relative;
    top: 20px;
}